.header__wrap {
  width: 100%;
  color: var(--st);
  background: url(../img/header/header-bg.jpg) 50% 0px / cover no-repeat;
  /* min-height: 800px; */
  /* height: 100vh; */
  padding: 30px 0 290px;
  position: relative;
  z-index: 0;
}
/* .header__wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: -1;
} */
/* .header__container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
} */
.header__wrap.header__wrap--xx {
  background: var(--st);
  padding: 30px 0;
}
.header__wrap--xx .header__menu-link,
.header__wrap--xx .header__tellink-top {
  color: var(--bg-dark);
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 4%;
}
.header__logo {
  display: flex;
  align-items: center;
  color: var(--st);
  width: 105px;
  margin-left: 0;
  /* position: relative; */
  z-index: 2;
}
/* .header__block-nav {
  margin-left: 18%;
} */
.header__block-nav {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.header__nav-logo {
  display: none;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 61px;
}
.header__menu-link {
  /* font-size: 20px;
  line-height: 130%;
  font-weight: 300; */
  color: var(--st);
}
.header__menu-link:hover {
  color: var(--bb);
}
.header__tellink-top {
  color: var(--st);
  font-weight: 700;
}
.header__tellink-top:hover {
  color: var(--bb);
}
.header__top-btn:hover {
  background: var(--bbb);
  border: 2px solid var(--st);
}
/* ===== burger =====  */
.header__block-burger {
  display: none;
}
.burger {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  /* border: 1px solid #c0c0c055; */
}
/* .burger span {
  display: block;
  width: 30px;
  height: 2px;
  background: var(--burger);
} */
.burger span::before {
  content: "";
  top: 10px;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--burger);
  position: absolute;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.burger span::after {
  content: "";
  bottom: 10px;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--burger);
  position: absolute;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.burger-active span {
  background: transparent;
}
.burger-active span::before {
  content: "";
  top: 14px;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--burger);
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.burger-active span::after {
  content: "";
  bottom: 14px;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--burger);
  position: absolute;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}
/* --- main --- */

/* .header__main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  margin: 50px 0;
} */

/* .header__box {} */
.header__main h1 {
  font-size: 156px;
  font-size: 8.13vw;
  font-weight: 700;
  line-height: 150%; 
}

.header__main-grup {
  display: flex;
  gap: 4%;
}
.header__subtitle {
  width: 48%;
}
.header__main-bltext {
  max-width: 410px;
  margin-top: 88px;
}
.header__main-txt {
  margin-bottom: 30px;
}
.header__main-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--st);
  color: var(--st);
  margin-top: 29px;
  padding: 10px 24px 12px;
  width: 100%;
}
.header__main-btn:hover {
  background: var(--bg-dark);
  color: var(--st);
  border: 2px solid var(--bg-dark);
}
/* ====== Медиа 1400px ====== */
@media (max-width: 1400px) {
  .header__wrap {
    padding: 30px 0 150px;
  }
  .header__main-bltext {
    max-width: 330px;
    margin-top: 45px;
  }
  .header__main-txt {
    margin-bottom: 15px;
  }
  .header__main-btn {
    margin-top: 15px;
    font-size: 16px;
  }
}
/* ====== Медиа 1140px ====== */
/* @media (max-width: 1140px) {} */
/* ====== Медиа 1070px ====== */
@media (max-width: 1070px) {
  .header__logo {
    width: 165px;
  }
  .header__main-grup {
    gap: 25px;
  }
  .header__main-bltext {
    max-width: 280px;
    margin-top: 43px;
  }
  .header {
    position: relative;
  }
  .header__block {
    margin-bottom: 80px;
  }
  .header__wrap--xx .header__block {
    margin-bottom: 0px;
  }
  .header__logo {
    width: 55px;
  }
  .header__block-nav,
  .header__tellink-top {
    display: none;
    margin: 0;
  }
  .header__block-burger {
    display: block;
    position: relative;
    z-index: 2;
  }
  .header__block-nav {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0;
    background: var(--st);
    padding: 30px 15px 25px; 
    z-index: 1;
  }
  .header__nav-logo {
    display: inline-block;
    width: 55px;
  }
  .header__nav-logo img {
    margin: 0;
  }
  .header__menu {
    flex-direction: column;
    padding-bottom: 100px;
    gap: 45px 0;
    /* margin-top: 100px; */
    padding-top: 15px;
  }
  .header__menu-link {
    font-size: 50px;
    color: var(--bg-dark);
  }
}
/* ====== Медиа 990px ====== */
@media (max-width: 990px) {

}
/* ====== Медиа 990px / ====== */
/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
  .header__subtitle {
    font-size: 6vw;
    line-height: 140%;
    margin: 30px 0;
    width: 100%;
  }
  .header__main-grup {
    flex-direction: column;
    gap: 0;
  }
  .header__main-bltext {
    max-width: 400px;
    margin-top: 0;
  }
  .header__main-txt {
    font-size: 16px;
  }

}
/* ====== Медиа 768px /====== */
/* ====== Медиа 550px ====== */
@media (max-width: 550px) {

  .header__block {
    padding: 0;
  }
  .header__bottom-image {
    width: 50px;
  }
}
/* ====== Медиа 550px /====== */
/* ====== Медиа 450px ====== */
@media (max-width: 450px) {
  .header__wrap {
    padding: 20px 0 90px;
  }
  .header__wrap.header__wrap--xx  {
    padding: 20px 0 30px;
  }
  .header__block-nav {
    padding: 20px 15px 25px;
  }
  .header__main h1 {
    font-size: 8vw;
    margin-bottom: 5px;
  }

  .header__subtitle {
    font-size: 6vw;
  } 
  .header__main-bltext {
    max-width: 360px;
    margin: 10px 0 0;
  }
  .header__main-txt {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  .header__main-btn {
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    margin: 90px auto 0;
    padding: 8px 20px 10px;
  }
}
/* ====== Медиа 400px ====== */
@media (max-width: 400px) {
  .header__main-btn {
    display: flex;
    font-size: 5vw;
    margin-top: 90px;

  }
}

@keyframes main-anime {
  0% {
    transform: translateX(-300px);
    /* opacity: 0; */
  }
  100% {
    transform: translateX(0px);
    /* opacity: 1; */
  }
}
.header__main-h1 {
  animation: main-anime 2s ease;
  /* animation-duration: 2.0s; */
}



/* @keyframes main-box {
  0% {
    margin-left: -600px;
    opacity: 0;
  }
  50% {
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
.header__main-grup {
  animation-name: main-box;
  animation-duration: 2.5s;
} */

/* =========================================== */

/* ========= modal / ======== */
.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(5px);
  z-index: 997;
}


.message__wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px 25px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 998;
 }
/* .message__logo {
  display: flex;
} */
.message__logo img {
  margin: 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.close:focus,
.close:hover {
  transform: scale(1.1);
  fill: #F37920;
}

.message__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.message__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.message__list-li {
  margin-bottom: 30px;
}